.spacing{
	margin-left: 5%;
}
.buttons {
	text-align: center;
	padding-top:1rem;
}
.buttons>button{
	background-color: #4494f2;
	color:white;
	font-weight: bold;
}
.ld{
	font-family: 'Poppins';
	text-align: center;
}
mat-progress-bar{
	width: 50rem;
	height:1.5rem;
}
