<!-- <div class="loader-div">
	<div class="loader">Loading...</div>
</div> -->
<div class="main">
	<div class="app">
	<h1>
		GitForker
	</h1>
	</div>
	<div class="detail">
		It is a fun project built using MEAN stack and github api works as a topping for it. It is a part of a long chain of improvements and it will be updated frequently with new features and functionalities. Want to see the source code follow me on github at the handle given below. 

		If you want to connect with me take any of the routes given below.
	</div> 
	<div class="contact">
		<div class="ct"><h2>CONTACTS</h2></div>
	</div>
	<div class="cards">
		<div class="card">
		<a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=ankitsatywali@gmail.com" target="_blank"><mat-card >
			<i class="far fa-envelope email s"></i>
            <div>EMAIL</div>
		</mat-card></a>
		</div>
		<div class="card">
		<a href="https://www.facebook.com/ankit.satyawali.1"> 
		<mat-card>
			<i class="fab fa-facebook-f facebook s"></i>
            <div>FACEBOOK</div>
		</mat-card></a>
		</div>
		<div class="card">
		<a href="https://www.linkedin.com/in/ankit-satyawali-339b58169/">
		<mat-card>
			 <i class="fab fa-linkedin-in linkedin s"></i>
             <div>LINKEDIN</div>
		</mat-card></a>
		</div>
		<div class="card">
		<a herf="https://github.com/AnkitSatyawali">
		<mat-card>
			<i class="fab fa-github s"></i>
            <div>GITHUB</div>
		</mat-card></a>
		</div>
	</div>
	<div class="footer">
		Code with <i class="fas fa-heart"></i> By Ankit Satyawali
	</div>
	
</div> 