.buttons{
	text-align: center;
	margin-top:0.5rem;
}
.main{
	display:flex;
	height:90%;
}
.userimage{
	width:100%;
	height:100%;
}
.image{
	width:100%;
	height:100%;
}
video{
	object-fit: initial;
	height:100%;
	width: 100%;
}