<div class="main">
<div class="butn">
	<div class="but">
	<button mat-raised-button class="wel" (click)="openDialog($event)">Welcome to U-chat</button>
	<br><br><br><br>
	<button mat-raised-button matTooltip="Coming Soon" class="know">Know More</button>
    </div>
</div>
<div class="homeimage">
<img src="../../../assets/image/home.png">
</div>
<div class="butni">
	<div class="but">
	<button mat-raised-button class="wel" (click)="openDialog($event)">Welcome to U-chat</button>
	<br><br><br><br>
	<button mat-raised-button class="know" matTooltip="Coming soon">Know More</button>
    </div>
</div>
</div>