mat-form-field{
	width:100%;
}
.fields{
	width:80%;
}
.fo{
	text-align:-webkit-center;
	margin-top: 1rem;
	padding-bottom: 1rem;
}
.clos{
	text-align: right;
}
.clsbtn{
	background-color: #AE51FF;
	border-radius: 50%;
	width:3rem;
	height:1.5rem;
	padding:0.5rem;
	color:white;
	font-size: 18px;
	font-family: 
}
.clsbtn:hover{
	cursor:pointer;
}
.bn{
	background: -webkit-linear-gradient(45deg, rgba(255,0,255,1) 0%, rgba(0,255,255,1) 100%);
	font-weight:bold;
}
.dis{
	cursor:not-allowed;
}