/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css'; 

@font-face {
  font-family: kabiro;
  src: url(assets/kabiro.ttf) format("opentype");
  font-family: poppins;
  src: url(assets/Poppins-Bold.ttf) format("opentype");
}

body{
	margin:0px;
	padding:0px;
	height:100%;
	/*background: -webkit-linear-gradient(45deg, rgba(255,0,255,1) 0%, rgba(0,255,255,1) 100%);*/
	/*overflow-x: hidden;*/
}
.notify{
	text-align: center;
	font-size: 3vw;
	margin-top: 50%;
	display: none;
}
@media screen and (max-width:700px)
{
	.notify{
		display: block;
	}
	app-root{
		display: none;
	}
}
