img {
	border-radius: 50%;
	height: 50px;
	width: 50px;
	margin-left:30px;
	padding-top: 10px;
	padding-bottom: 10px

}
.backimage{
	background-image: url("../../../../assets/image/email-pattern.png");
}
mat-toolbar{
	display:flex;
	background-color:#9ed8ce;
}
.name{
	padding-left: 25px;
	width:85%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.board{
	width:100%;
	height:calc(100vh - 198px);
	overflow-y: auto
}
.board-im{
	width:100%;
	height:calc(100vh - 133px);
	overflow-y: auto
}
mat-form-field {
	width:100%;
	background-color: white
}
.m{
	position: fixed;
	bottom:0;
}
.mess{
	padding-bottom: 0rem;
	width:60%;
	border:none;
	height:80%;
	border-radius : 3rem 0rem 0rem 3rem;
	margin-left: -10px;
	padding-left: 20px;
	padding-top: 4px;
}
.mess:focus{
	outline:none;
}
.send{
	font-size: 40px;
	margin-left:1rem;
	color:chartreuse;
}
.mat-icon{
	height:auto
}
.send:hover{
	cursor: pointer
}
.attachicon:hover{
	cursor:pointer;
}
.attachicon {
	margin:13px;
}
.attachment {
	background-color: white;
	height: 87%;
	border-radius: 0rem 3rem 3rem 0rem;
}
.message {
	margin-left: 2rem;
	margin-top: 1rem;
	border:1px solid #fcf9f9;
	border-radius: 0.6rem;
	max-width:30%;
	height:auto;
	
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: white; 
	font-family: kabiro;
	word-wrap: break-word;
	line-height: 1.4rem;
}
.filemess{
	width:36%;
	margin-left: 2rem;
	border:1px solid #fcf9f9;
	border-radius: 0.6rem;
	height:auto;
	
	background-color: white;
}
.filereply{
	
	/*border:1px solid #fcf9f9;*/
	border-radius: 0.6rem;
	width:36%;
	height:auto;
	background-color: #8bede1; 
	margin-left: 60%;
}
.fileimg:hover {
	cursor:pointer;
}
.iconu{
	vertical-align: bottom;
	font-size: 1.2rem;

}
.uniquefile{
	padding-top:1.5rem;
	padding-left:1.5rem;
	padding-right:1.5rem;
}
.fileimg{
	width:100%;
	height:200px;
	margin-left: 0;
	border-radius: 0;
}
.line{
	width: 100%;
	background-color: black
}
/*.userspace{
	margin-left:67%;
}*/
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:#aaf7eb; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#82c0b7; 
}
.reply{
	margin-right: 2rem;
	margin-top: 1rem;
	/*border:1px solid #fcf9f9;*/
	border-radius: 0.6rem;
	font-family: kabiro;
	max-width:30%;
	height:auto;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #8bede1; 
	margin-left: 68%;
	word-wrap: break-word;
	line-height: 1.4rem;
}
.loader-div{
	width:100%;
	text-align: center;
	/*height:calc(100vh - 198px);*/
}
.sclo{
	text-align: center;
}
mat-spinner{
	width:20px;
	height: 20px;
}
mat-spinner>svg{
	width:20px !important;
	height: 20px !important;
}
/*@media screen and (max-width:983px)
{
	.userspace{
		margin-left: 43%;
	}
}*/
.loader {
  color: #1cd2f2;
  font-size: 20px;
  margin: 30vh auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}



@media screen and (max-width: 1180px)
{
	.mess{
		width:58%;
	}
	/*.userspace{
		margin-left: 61%;
	}*/
}
@media screen and (max-width: 1069px)
{
	.content{
		padding-top: 15px;
	}
	/*.userspace{
		margin-left: 57%;
	}*/
}
@media screen and (max-width: 954px)
{
	.mess{
		width:54%;
	}
	/*.userspace{
		margin-left: 54%;
	}*/
}
@media screen and (max-width: 893px)
{
	/*.userspace{
		margin-left: 51%;
	}*/
}
@media screen and (max-width: 805px)
{
	/*.userspace{
		margin-left: 47%;
	}*/
}
@media screen and (max-width: 738px)
{
	/*.userspace{
		margin-left: 42%;
		
	}*/
}
@media screen and (max-width: 678px)
{
	
	.resimg{
		margin-left: 0;
	}
}